html, body {
  font-size: 99%;
  font-family: monospace;

  img {
    margin: 0;
    padding: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  strong,b,a {
    font-weight: 700;
  }

  code,pre {
    background: none !important;
    font-size: .75em;
  }

  .custom-blog-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    nav, div {
      height: 2rem;
      width: 50%;
    }

    div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      height: 2rem;
      button { height: 100%; }
    }

  }

}

