// define font faces here

@font-face {
  font-family: Karla-Regular;
  src: url("../../assets/fonts/Karla/Karla-Regular.ttf");
}

@font-face {
  font-family: Merri-Bold;
  src: url("../../assets/fonts/Merriweather/Merriweather-Bold.ttf");
}