// define font faces here

@font-face {
  font-family: Domine;
  src: url("../../assets/fonts/Domine/Domine-Regular.ttf");
}
@font-face {
  font-family: Domine-Bold;
  src: url("../../assets/fonts/Domine/Domine-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}