@import "./reset";
@import "./fonts";

html,
body {
  font-family: "Montserrat", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row nowrap;
  background-color: #ffffff;
  min-height: 10vh;
  width: 100%;
  div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img {
      min-width: 24px;
      max-width: 24px;
      margin: 0.1em;
      cursor: pointer;
    }
  }
}

.avatar {
  img {
    min-width: 55px;
    max-width: 55px;
    border-radius: 50%;
  }
}

.content {
  padding-top: 13vh;
  padding-right: 1vh;
  padding-left: 1vh;
  // background: red;
}

section {
  // background: yellow;
  padding-top: 10vh;
  height: 90vh;
  h3 {
    font-size: 3.5em;
    font-family: "Domine", serif;
  }
  p {
    text-align: left;
    font-size: 2.5em;
    margin-top: 1.5rem;
  }
}

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 5rem;
  span {
    padding-left: 1em;
  }
}

main {
  width: 100%;
  margin: 0 auto;
}
