$lg-wrapper-width: 100%;
$background-color: #FFF;
$foreground-color: #000;
$selection-color: #E03C31;
$link-color: #E03C31;

html,
body {
  margin: 1rem;
  font-size: 1.3rem;
  background: $background-color;
  color: $foreground-color;


  ::selection {
    color: $background-color;
    background: $selection-color;
  }

  ::-moz-selection {
    color: $background-color;
    background: $selection-color;
  }

}

a {
  font-size: 1rem;
  color: $link-color;
}

p {
  font-family: serif;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

hr {
  border: .1rem dotted;
  width: 30%;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: $lg-wrapper-width;
}

.item {
  margin-top: 5rem;
  width: 100%;
}

header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  span {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1340px) {
  .wrapper {
    width: 50%;
  }
  .item {
    margin-top: 0rem;
  }
}
