html,
body {
  display: flex;
  flex-direction: column;
	justify-content:center;
	align-items: center;
  font-size: 28px;
  background: #1b1d1e;
  color: #f8f8f8;
	margin: 0.4rem;
}

h3, a {
	font-family : sans-serif;
}

a {
	color: #ff9900;
}

img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

header {
	width: 100%;
}

@media screen and (min-width: 1080px) {
  .wrapper {
  	width: 70%;
  }
}
